################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/myRepository/v15/.suo
/.vs/demo23/v15/.suo
/.vs/demo23/v15/Server/sqlite3/storage.ide-wal
/.vs/demo23/v15/Server/sqlite3/storage.ide-shm
/.vs/demo23/v15/Server/sqlite3/storage.ide
/.vs/demo23/v15/Server/sqlite3/db.lock
/.vs/demo23/DesignTimeBuild/.dtbcache
